# For documentation on how to edit this file see https://clang.llvm.org/docs/ClangFormatStyleOptions.html
# and to experiment you can use https://zed0.co.uk/clang-format-configurator/
#
# To configure the CLion IDE to use this format see https://www.jetbrains.com/help/clion/clangformat-as-alternative-formatter.html
#
# TODO: When clang-format version 15 is available the source code format should be updated with the setting "InsertBraces: true".
#
---
Language:        Cpp
BasedOnStyle:    'WebKit'
# SortIncludes is set to never as sorting them leads to compilation errors because of questionably constructed headers
SortIncludes:    Never
# A personal preference
AlignAfterOpenBracket: Align
