build
android/app/src/main/cpp/code/VrApi/
*.swp
*tags
*~
*.ccls-cache/
compile_commands.json

# OS X
####################
.Spotlight-V100/
.Trashes/
._*
.AppleDouble
.DS_Store
.LSOverride
Icon?

# Xcode
####################
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.user
*.xcuserstate
*.moved-aside
*~.nib
.idea/
DerivedData/
project.xcworkspace/
xcuserdata/
profile
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

# Microsoft Visual Studio
####################
*.sdf
*.opensdf
*.suo

# Android
####################
.gradle/
.cxx/
.settings/
jniLibs/
Debug/
Release/
*.iml
.classpath
.project
local.properties
drbeef-release-key.keystore
android/app/src/main/cpp/code/vr/vr_version.h
