# *nix tool files
############################
*.swp
*~

*.user
.vs/
.vscode/
build/
cmake-*
output/
# OS X files
############################
.Spotlight-V100/
.Trashes/
._*
.DS_Store
Icon?


# JetBrains IDEs
############################
/.clwb
/.idea

# Temp dirs and local notes
############################
/tmp
